:root {
  --main-bg-color: #dafbe3;
  --secondary-bg-color: #4ea5d9;
  --box-bg-color: #2a4494;
  --text-color: white;
  --box-hover-color: #520025;
}

/* 
light blue: #4EA5D9
dark blue: #2A4494
dark red: #520025
light green: #DAFBE3
*/

/* :root {
  --main-bg-color: #121212;
  --secondary-bg-color: #242424;
  --box-bg-color: #383838;
  --text-color: white;
  --box-hover-color: #424242;
} */

html {
  display: flex;
  justify-content: center;
}

html {
  background-color: var(--main-bg-color);
}

#root {
  margin: auto;
  min-height: 100vh;
  max-width: 800px;
  min-width: 400px;
}

h1 {
  color: var(--text-color);
}

body {
  background-color: var(--secondary-bg-color);
  margin: auto;
  width: 90%;
}

.bathroom-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  background-color: var(--box-bg-color);
  color: var(--text-color);
  width: 400px;
  margin: 20px auto;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.1s ease;
}

.bathroom-box:hover {
  background-color: var(--box-hover-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bathroom-box h2 {
  margin: auto;
}

.bathroom-boxes-container {
  margin-top: 30px;
}

#signOut {
}

footer {
  margin-top: 80px;
}

/* h1 {
  font-family: "minion-pro", times, serif;
} */

button {
  background-color: var( --secondary-bg-color);
  color: var( --text-color);
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#signout_button {
  background-color: var(--box-bg-color);
}