:root {
  --main-bg-color: #121212;
  --secondary-bg-color: #242424;
  --box-bg-color: #383838;
  --text-color: white;
  --box-hover-color: #424242;
}

html {
  display: flex;
  justify-content: center;
}

html,
#root {
  background-color: var(--main-bg-color);
}

#root {
  margin: auto;
  min-height: 100vh;
  max-width: 800px;
  min-width: 400px;
}

h1 {
  color: var(--text-color);
}

body {
  background-color: var(--secondary-bg-color);
  margin: auto;
  width: 90%;
}

.bathroom-box {
  border: 1px solid black;
  background-color: var(--box-bg-color);
  color: var(--text-color);
  width: 400px;
  margin: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.1s ease;
}

.bathroom-box:hover {
  background-color: var(--box-hover-color);
}

.bathroom-box h2 {
  margin: auto;
}

.bathroom-box {
  margin: 15px auto;
}

#signOut {
}

footer {
  margin-top: 80px;
}

/* h1 {
  font-family: "minion-pro", times, serif;
} */
